@model Serenity.Models.ActivityModel

@if(Model != null)
{
    <a href="/Home/Activity/@Model.ActivityId">
        <h3>@Model.ActivityName</h3>

        <p>Rating: @Model.Rating / 5</p>

    </a>

}

