@model Serenity.Models.ActivityModel

@{
    ViewBag.Title = "Activity";
}

<h2>@Model.ActivityName</h2>


@if (Model.ActivityName == "Bubble Popping")
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
}
else if (Model.ActivityName == "Belly Breathing" || Model.ActivityName == "Immediate Help Activity")
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
}

@if (Model.ActivityName == "Five Things Grounding")
{
    <div id='fiveThings'>
        <h1 id='mainText'>5 4 3 2 1</h1>
        <h3 id='subText'>Hit the button to begin</h3>
        <h4 id='contText'>Click the button when you are ready to continue.</h4>
        <div id='contBtn'>Begin</div>
    </div>
}
else if (Model.ActivityName == "Question Your Thoughts")
{
    <div class="IntroToActivity">
        <p>
            When people are anxious, their brains start coming up with all sorts of outlandish ideas,
        </p>
        <p>
            many of which are highly unrealistic and unlikely to occur. Ask yourself these questions
        </p>
        <p>
            when challenging your thoughts:
        </p>
    </div>

    <div class="QuestionOne">
        <p>
            Is this worry realistic?
        </p>
    </div>

    <div class="QuestionTwo">
        <p>
            Is this really likely to happen?
        </p>
    </div>

    <div class="QuestionThree">
        <p>
            If the worst possible outcome happens, what would be so bad about that?
        </p>
    </div>

    <div class="QuestionFour">
        <p>
            Could I handle that?
        </p>
    </div>

    <div class="QuestionFive">
        <p>
            What might I do?
        </p>
    </div>

    <div class="QuestionSix">
        <p>
            If something bad happens, what might that mean about me?
        </p>
    </div>

    <div class="QuestionSeven">
        <p>
            Is this really true or does it just seem that way?
        </p>
    </div>

    <div class="QuestionEight">
        <p>
            What might I do to prepare for whatever may happen?
        </p>
    </div>
}
else if (Model.ActivityName == "Name Animals")
{
    <div class="namingAnimalsActivity">
        <p>Name an animal that starts with the letter A</p>
        <p>Name an animal that starts with the letter B</p>
        <p>Name an animal that starts with the letter C</p>
        <p>Name an animal that starts with the letter D</p>
        <p>Name an animal that starts with the letter E</p>
        <p>Name an animal that starts with the letter F</p>
        <p>Name an animal that starts with the letter G</p>
        <p>Name an animal that starts with the letter H</p>
        <p>Name an animal that starts with the letter I</p>
        <p>Name an animal that starts with the letter J</p>
        <p>Name an animal that starts with the letter K</p>
        <p>Name an animal that starts with the letter L</p>
        <p>Name an animal that starts with the letter M</p>
        <p>Name an animal that starts with the letter N</p>
        <p>Name an animal that starts with the letter O</p>
        <p>Name an animal that starts with the letter P</p>
        <p>Name an animal that starts with the letter Q</p>
        <p>Name an animal that starts with the letter R</p>
        <p>Name an animal that starts with the letter S</p>
        <p>Name an animal that starts with the letter T</p>
        <p>Name an animal that starts with the letter U</p>
        <p>Name an animal that starts with the letter V</p>
        <p>Name an animal that starts with the letter W</p>
        <p>Name an animal that starts with the letter X</p>
        <p>Name an animal that starts with the letter Y</p>
        <p>Name an animal that starts with the letter Z</p>
    </div>
}
<script src="@Model.ScriptUrl"></script>
