
@{
    ViewBag.Title = "Activities";
}

<div>
	<h2 class="activityTitle">Activities</h2>
</div>

<div>
	<p class="recomend">Recomened</p>
</div>

<div>
	<p class="allActivities">All Activities</p>
</div>

<div class="listOfActivities">
	<p>Brething Exercises
		Aphbetlicly Animal Naming
		5 Senses
		Question Your Thoughts
		Breaking Glass
		Play Calming Music
	</p>
</div>


