@model Serenity.Models.ActivityModel

@{
    ViewBag.Title = "Activity";
}

<h2>@Model.ActivityName</h2>


@if (Model.ActivityName == "Bubble Popping")
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
}
else if (Model.ActivityId == 2 || Model.ActivityId == 3)
{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
}

<script src="@Url.Content(Model.ScriptUrl)"></script>

