@model Serenity.Models.ActivityListModel
@{
    ViewBag.Title = "Activities";
}

<div>
	<h2 class="activityTitle">Activities</h2>
</div>

<div class="listOfActivities">
	@foreach(Serenity.Models.ActivityModel a in Model.Activities)
    {
        Html.RenderPartial("_ActivityPartial", a);
    }
</div>


