
@{
    ViewBag.Title = "QuestionYourThoughts";
}

<div class="QuestionYourThoughtsTitle">
	<h2>Question Your Thoughts</h2>
</div> 

<div class="IntroToActivity">
	<p>
		When people are anxious, their brains start coming up with all sorts of outlandish ideas,
	</p>
	<p>
		many of which are highly unrealistic and unlikely to occur. Ask yourself these questions
	</p>
	<p>
		when challenging your thoughts:
	</p>
</div>

<div class="QuestionOne">
	<p>
		Is this worry realistic?
	</p>
</div>

<div class="QuestionTwo">
	<p>
		Is this really likely to happen?
	</p>
</div>

<div class="QuestionThree">
	<p>
		If the worst possible outcome happens, what would be so bad about that?
	</p>
</div>

<div class="QuestionFour">
	<p>
		Could I handle that?
	</p>
</div>

<div class="QuestionFive">
	<p>
		What might I do?
	</p>
</div>

<div class="QuestionSix">
	<p>
		If something bad happens, what might that mean about me?
	</p>
</div>

<div class="QuestionSeven">
	<p>
		Is this really true or does it just seem that way?
	</p>
</div>

<div class="QuestionEight">
	<p>
		What might I do to prepare for whatever may happen?”
	</p>
</div>






